<!DOCTYPE HTML>

<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Clients</title>
    <meta charset="utf-8" />
    <script src="https://use.fontawesome.com/33078ec2bc.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
</head>
<body>
    <!--Nav-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">selecciondevinos.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/start">Stock</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  active" href="/client/all">Clientes<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lists/">Listas de precios</a>
            </li>
            <form class="form-inline">
                <button class="btn btn-outline-success" href="/orders/new" type="button">NUEVO PEDIDO</button>
            </form>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


        <div class="container">
            <p> </p>
            <h1> <i class="fa fa-address-book" aria-hidden="true"></i> Mi cartera de clientes </h1>
            <!-- Trigger the modal with a button -->

            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#newClient">Nuevo cliente</button>

            <p> </p>
            <!-- Client Table -->
            <table id="clientTable" class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" hidden>Código de cliente <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th scope="col">Nombre <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th scope="col">Teléfono <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th scope="col">Dirección <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th scope="col">Email <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th scope="col">Acciones</th>

                </tr>
                </thead>
                <tbody>
                    <tr th:each="client : ${clientList}">
                        <td hidden th:text="${client.clientId}"></td>
                        <td th:text="${client.name}"></td>
                        <td th:text="${client.phone}"></td>
                        <td th:text="${client.address}"></td>
                        <td th:text="${client.email}"></td>
                        <td>
                            <button class="btn btn-outline-info"  data-toggle="modal" th:attr="id=${client.clientId}" onclick="myFunction(this.id)" data-target="#editClient">
                                Editar
                            </button>
                            <script>
                                function myFunction(clientId) {
                                    var elems= document.getElementById(clientId);
                                    var body = document.getElementById('editionDetails');
                                    body.innerHTML = '' +
                                        '<form id="editionForm" name="editionForm" method="post" action="/client/delete/'+ elems.id + '">'+
                                        '<button type="submit" id="btn-delete" class="btn btn-outline-danger" />Borrar' +
                                        '</form>';
                                }
                            </script>
                        </td>
                </tbody>
            </table>

            <!-- Delete Client Modal -->
            <div id="editClient" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div id="editionDetails" class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Client Modal -->
            <div id="newClient" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Nuevo cliente</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form  id="clientForm" action="#" th:action="@{/client/create}" th:object="${client}"  method="post" name="clientForm">
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control" th:field="*{name}" id="name" name="name" placeholder="Juan Gomez, Coca-Cola S.A..."><br />
                                    <label for="address">Dirección</label>
                                    <input type="text" class="form-control" th:field="*{address}" id="address" placeholder="Pasteur 345 6to C" name="address"/><br />
                                    <label for="phone">Teléfono</label>
                                    <input type="number" class="form-control" th:field="*{phone}" placeholder="Solo números: 1551754635" id="phone" name="phone"/><br />
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" th:field="*{email}" placeholder="juangomez@gmail.com" id="email" name="email"/><br />
                                    <button type="submit" id="submitClient" class="btn btn-outline-info" >Guardar</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Stock Modal -->
            <div id="newStock" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Nuevo Stock</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form  id="stockForm" action="#" th:action="@{/stock/createStock}" method="post" name="stockForm">
                                <div class="form-group">
                                    <label for="quantityOnStockBox">Cantidad de cajas</label>
                                    <input type="number" class="form-control" id="quantityOnStockBox" placeholder="1,2,3...90..." name="quantityOnStockBox"/><br />
                                    <label for="productName">Producto</label>
                                    <select class="form-control" name="productName" id="productName">
                                        <option th:each="wine : ${wines}"
                                                th:value="${wine.wineName}"
                                                th:text="${wine.wineName}"
                                                th:select="${wine.wineName}">
                                        </option>
                                    </select><br />
                                    <label for="price">Precio unitario</label>
                                    <input type="number" class="form-control" placeholder="1,2,45,45.45...." id="price" name="price"/><br />
                                    <button type="submit" id="stockSubmit"  class="btn btn-outline-info" >Guardar</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Wine Modal -->
            <div id="newWine" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Nuevo Vino</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form  id="wineForm" action="#"  th:action="@{/wines/createWine}" method="post" name="wineForm">
                                <div class="form-group">
                                    <label for="wineName">Nombre</label>
                                    <input type="text" class="form-control" id="wineName" name="wineName" placeholder="Ingrese el firstname del vino"><br />
                                    <label for="quantityOnBox">Cantidad en caja</label>
                                    <input type="number" class="form-control" id="quantityOnBox" placeholder="1,2,3...90..." name="quantityOnBox"/><br />
                                    <label for="cellar">Bodega</label>
                                    <select class="form-control" name="cellar" id="cellar">
                                        <option th:each="cellar : ${cellars}"
                                                th:value="${cellar.cellarName}"
                                                th:select="${cellar.cellarName}"
                                                th:text="${cellar.cellarName}">
                                        </option>
                                    </select><br />
                                    <label for="wineClasify">Clasificación</label>
                                    <input type="text" class="form-control" placeholder="malbec,chardonnay..." id="wineClasify" name="clasify"/><br />
                                    <button type="submit" id="wineSubmit"  class="btn btn-outline-info" >Guardar</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>






        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>