<!DOCTYPE HTML>

<html  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Pedidos</title>
    <meta charset="utf-8" />
    <script src="https://use.fontawesome.com/33078ec2bc.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
    <link th:href="@{/img/favicon.ico}" rel="shortcut icon"/>
</head>
<body>
<!--Nav-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">selecciondevinos.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/orders/">Pedidos</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/products/">Stock</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lists/">Listas de precios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clients/">Clientes</a>
            </li>
            <form class="form-inline">
                <button class="btn btn-outline-success" href="/orders/new" type="button">NUEVO PEDIDO</button>
            </form>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" id="theWineSearch" onkeyup='searchTable()' placeholder="Buscador...">
            <script>
                function searchTable() {
                    var input, filter, found, table, tr, td, i, j;
                    input = document.getElementById("theWineSearch");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("stockTable");
                    tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td");
                        for (j = 0; j < td.length; j++) {
                            if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                                found = true;
                            }
                        }
                        if (found) {
                            tr[i].style.display = "";
                            found = false;
                        } else {
                            if (tr[i].id !== 'id02'){tr[i].style.display = "none";}
                        }
                    }
                }
            </script>
        </form>
    </div>
</nav>





<div class="container">
    <p> </p>
    <h1><i class="fa fa-area-chart"></i> Pedidos :</h1>

    <div class="row justify-content-md-center py-3 ">
        <div class="col-md">
            <div class="text-justify">
                <h2 class="">1. Para Armar</h2>
            </div>
            <table class="table">
                <tr th:each="order : ${createdOrders}">
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-link" data-toggle="collapse" data-parent="#accordion" th:href="${'#' + order.orderId}" >
                                <span class="text-left" th:text="${order.client.name + ' - ' + #dates.format(order.deliveryDate, 'dd/MM/yyyy')}"></span>
                            </button>

                            <div class="row float-right">
                                <form th:action="@{/orders/{id}/progress(id=${order.orderId})}" method="POST">
                                    <button class="btn btn-success fa fa-check" type="submit" ></button>
                                </form>
                                <div class="dropdown" >
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"></button>
                                    <div class="dropdown-menu" >
                                        <button type="button" class="btn btn-link dropdown-item" data-toggle="modal" data-target="#edit">Editar</button>
                                        <form th:action="@{/orders/{id}/print(id=${order.orderId})}" method="GET">
                                            <button class="btn btn-link dropdown-item" type="submit">Imprimir</button>
                                        </form>
                                        <div class="dropdown-divider"></div>
                                        <form th:action="@{/orders/{id}/cancel(id=${order.orderId})}" method="POST">
                                            <button class="btn btn-link dropdown-item" type="submit">Eliminar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div th:attr="id=${order.orderId}" class="collapse" role="tabpanel">
                            <div class="card-block">
                                <h3 class="text-center" th:text="${order.client.name}"></h3>
                                <p class="text-center" th:text="${order.client.phone}"></p>
                                <p class="text-center" th:text="${order.client.address}"></p>
                                <p class="text-center" th:text="${order.client.email}"></p>
                            </div>
                        </div>
                    </div>
                </tr>
            </table>
        </div>


        <div class="col-md">
            <div class="text-justify">
                <h2 class="">2. Para Entregar</h2>
            </div>
            <table class="table">
                <tr th:each="order : ${inProgressOrders}">
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-link" data-toggle="collapse" data-parent="#accordion" th:href="${'#' + order.orderId}" >
                                <span class="text-left" th:text="${order.client.name + ' - ' + #dates.format(order.deliveryDate, 'dd/MM/yyyy')}"></span>
                            </button>

                            <div class="row float-right">
                                <form th:action="@{/orders/{id}/progress(id=${order.orderId})}" method="POST">
                                    <button class="btn btn-success fa fa-check" type="submit" ></button>
                                </form>
                                <div class="dropdown" >
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"></button>
                                    <div class="dropdown-menu" >
                                        <button type="button" class="btn btn-link dropdown-item" data-toggle="modal" data-target="#edit">Editar</button>
                                        <form th:action="@{/orders/{id}/print(id=${order.orderId})}" method="GET">
                                            <button class="btn btn-link dropdown-item" type="submit">Imprimir</button>
                                        </form>
                                        <div class="dropdown-divider"></div>
                                        <form th:action="@{/orders/{id}/cancel(id=${order.orderId})}" method="POST">
                                            <button class="btn btn-link dropdown-item" type="submit">Eliminar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div th:attr="id=${order.orderId}" class="collapse" role="tabpanel">
                            <div class="card-block">
                                <h3 class="text-center" th:text="${order.client.name}"></h3>
                                <p class="text-center" th:text="${order.client.phone}"></p>
                                <p class="text-center" th:text="${order.client.address}"></p>
                                <p class="text-center" th:text="${order.client.email}"></p>
                            </div>
                        </div>
                    </div>
                </tr>
            </table>
        </div>



    </div>

    <div class="row justify-content-md-center">
        <div class="col-md">
            <div class="text-justify">
                <h2 class="">3. Finalizados</h2>
            </div>
            <table class="table">
                <tr th:each="order : ${finishedOrders}">
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-link" data-toggle="collapse" data-parent="#accordion" th:href="${'#' + order.orderId}" >
                                <span class="text-left" th:text="${order.client.name + ' - ' + #dates.format(order.deliveryDate, 'dd/MM/yyyy')}"></span>
                            </button>

                            <div class="row float-right">
                                <form th:action="@{/orders/{id}/progress(id=${order.orderId})}" method="POST">
                                    <button class="btn btn-success fa fa-check" type="submit" ></button>
                                </form>
                                <div class="dropdown" >
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"></button>
                                    <div class="dropdown-menu" >
                                        <button type="button" class="btn btn-link dropdown-item" data-toggle="modal" data-target="#edit">Editar</button>
                                        <form th:action="@{/orders/{id}/print(id=${order.orderId})}" method="GET">
                                            <button class="btn btn-link dropdown-item" type="submit">Imprimir</button>
                                        </form>
                                        <div class="dropdown-divider"></div>
                                        <form th:action="@{/orders/{id}/cancel(id=${order.orderId})}" method="POST">
                                            <button class="btn btn-link dropdown-item" type="submit">Eliminar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div th:attr="id=${order.orderId}" class="collapse" role="tabpanel">
                            <div class="card-block">
                                <h3 class="text-center" th:text="${order.client.name}"></h3>
                                <p class="text-center" th:text="${order.client.phone}"></p>
                                <p class="text-center" th:text="${order.client.address}"></p>
                                <p class="text-center" th:text="${order.client.email}"></p>
                            </div>
                        </div>
                    </div>
                </tr>
            </table>
        </div>
    </div>


</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>