<!DOCTYPE HTML>

<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Listas de precios</title>
    <meta charset="utf-8" />
    <script src="https://use.fontawesome.com/33078ec2bc.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
</head>
<body>
    <!--Nav-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">selecciondevinos.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ">
                <a class="nav-link" href="/orders/">Pedidos</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/products/">Stock</a>
            </li>
            <li class="nav-item  active">
                <a class="nav-link" href="/lists/">Listas de precios<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clients/">Clientes </a>
            </li>
            <form class="form-inline">
                <button class="btn btn-outline-success" href="/orders/new" type="button">NUEVO PEDIDO</button>
            </form>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" id="theWineSearch" onkeyup='searchTable()' placeholder="Buscador...">
            <script>
                function searchTable() {
                    var input, filter, found, table, tr, td, i, j;
                    input = document.getElementById("theWineSearch");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("listTable");
                    tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td");
                        for (j = 0; j < td.length; j++) {
                            if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                                found = true;
                            }
                        }
                        if (found) {
                            tr[i].style.display = "";
                            found = false;
                        } else {
                            if (tr[i].id !== 'id02'){tr[i].style.display = "none";}
                        }
                    }
                }

            </script>
        </form>
    </div>
</nav>


        <div class="container">
            <p> </p>
            <h1><i class="fa fa-list-alt" aria-hidden="true"></i> Listas de Precios</h1>
            <!-- Trigger the modal with a button -->

            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#newClient">Nueva Lista</button>

            <p> </p>
            <!-- List Table -->
            <table id="listTable" class="table">
                <thead class="thead-dark">
                <tr id="id02">
                    <th scope="col" hidden>Código de lista <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th scope="col">Nombre de lista <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th scope="col">Origen de la Lista <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th scope="col">Lista de base <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th scope="col">Porcentaje aplicado <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <!--<th scope="col">Acciones</th>-->


                </tr>
                </thead>
                <tbody>
                    <tr class="clickable-row" th:each="priceList : ${lists}">
                        <td hidden th:text="${priceList.id}" id="table-listId"></td>
                        <td th:text="${priceList.description}"></td>
                        <td th:text="#{${'priceList.base.' + priceList.base}}" ></td>
                        <td th:text="${priceList.basePriceList?.description}"></td>
                        <td th:text="${priceList.discountPercentage}"></td>
                        <!--
                        <td>
                            <button class="btn btn-outline-info" th:attr="id=${priceList.id}" data-toggle="modal" onclick="myFunction(this.id)" data-target="#editList">
                                Editar
                            </button>
                            <script>
                                function myFunction(clientId) {
                                    var elems= document.getElementById(clientId);
                                    var body = document.getElementById('editionDetails');
                                    body.innerHTML = '' +
                                        '<form id="editionForm" name="editionForm" method="post" action="/lists/delete/'+ elems.id + '">'+
                                        '<button type="submit" id="btn-delete" class="btn btn-outline-danger" />Borrar' +
                                        '</form>';
                                };
                            </script>
                        </td>
                        -->
                </tbody>
            </table>

            <!-- Delete List Modal -->
            <div id="editList" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div id="editionDetails" class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button  type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- List Modal -->
            <div id="newClient" class="modal fade"  role="dialog">
                <div class="modal-dialog" style="width:4000px;">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Nueva lista de precios</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form id="listForm" action="#"  th:action="@{/lists/create}" th:object="${priceList}" method="post" name="listForm">
                                <div class="form-group">
                                    <label for="listName">Nombre de la Lista</label>
                                    <input type="text" class="form-control" th:field="*{description}" id="listName" name="listName" placeholder="Lista de amigos"><br />
                                    <label for="discount">Porcentaje aplicado (%) </label>
                                    <input type="number" step=".01" class="form-control"  th:field="*{discountPercentage}"  id="discount" name="discount"/><br />
                                    <label for="origen">Origen de la lista</label>
                                    <select class="form-control" th:field="*{base}" name="origen" id="origen">
                                        <option th:each="base : ${T(com.dp3.domain.BaseOfPriceList).values()}"
                                                th:value="${base}"
                                                th:text="#{${'priceList.base.' + base}}">
                                        </option>
                                    </select><br />
                                    <label for="baseList">Lista Base</label>
                                    <select class="form-control" th:field="*{basePriceList}" name="baseList" id="baseList">
                                        <option th:each="lists : ${lists}"
                                                th:value="${lists.id}"
                                                th:select="${lists.id}"
                                                th:text="${lists.description}">
                                        </option>
                                    </select><br />
                                    <button type="submit" id="listSubmit"  class="btn btn-primary" >Guardar</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button  type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
                integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        <script th:src="@{/js/pricelist.js}"></script>
</body>
</html>