<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
	  <div th:replace="fragments :: header"></div>
	  <title>Productos</title>
	  
	<link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.16/b-1.4.2/sl-1.2.3/datatables.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{css/editor.dataTables.css}"/>
  </head>
  
  <body id="page-top">
  
    <div th:replace="fragments :: mainNavbar" />
<!--     <br/><br/><br/> -->
	<div class="content-wrapper">
		
		<table id="products" class="table table-striped table-bordered" cellspacing="1" width="100%">
	        <thead>
	            <tr>
	                <th>ID de Producto</th>
	                <th>Nombre</th>
	                <th>Variedad</th>
	                <th>Bodega</th>
	                <th>Precio de Lista</th>
	                <th>Cant. por caja</th>
	            </tr>
	        </thead>
	    </table>
		
	</div>
	
	<script th:src="@{js/freelancer.js}"></script>
	<script th:src="@{js/products.js}"></script>
	
<!-- 	<script th:src="@{https://code.jquery.com/jquery-1.12.4.js}"></script> -->
<!-- 	<script th:src="@{https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js}"></script> -->
<!-- 	<script th:src="@{https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js}"></script> -->
<!-- 	<script th:src="@{https://cdn.datatables.net/select/1.2.3/js/dataTables.select.min.js}"></script> -->
<!-- 	<script th:src="@{https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js}"></script> -->
	
	<script type="text/javascript" th:src="@{https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.16/b-1.4.2/sl-1.2.3/datatables.js}"></script>
	<script type="text/javascript" th:src="@{js/dataTables.editor.js}"></script>
	
	
	</body>
</html>