<!DOCTYPE HTML>

<html  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Products</title>
    <meta charset="utf-8" />
    <script src="https://use.fontawesome.com/33078ec2bc.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
</head>
<body>
        <!--Nav-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">selecciondevinos.com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/start">Stock</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/client/">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/lists/">Listas de precios</a>
                    </li>
                    <form class="form-inline">
                        <button class="btn btn-outline-success" href="/orders/new" type="button">NUEVO PEDIDO</button>
                    </form>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" id="theWineSearch" onkeyup='searchTable()' placeholder="Buscador...">
                    <script>
                        function searchTable() {
                            var input, filter, found, table, tr, td, i, j;
                            input = document.getElementById("theWineSearch");
                            filter = input.value.toUpperCase();
                            table = document.getElementById("stockTable");
                            tr = table.getElementsByTagName("tr");
                            for (i = 0; i < tr.length; i++) {
                                td = tr[i].getElementsByTagName("td");
                                for (j = 0; j < td.length; j++) {
                                    if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                                        found = true;
                                    }
                                }
                                if (found) {
                                    tr[i].style.display = "";
                                    found = false;
                                } else {
                                    if (tr[i].id !== 'id02'){tr[i].style.display = "none";}
                                }
                            }
                        }

                    </script>
                </form>
            </div>
        </nav>





        <div class="container">
            <p> </p>
            <h1><i class="fa fa-line-chart" aria-hidden="true"></i> Stock</h1>
            <!-- Trigger the modal with a button -->

            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#newCellar">Nueva Bodega</button>
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#newWine">Nuevo Vino</button>
             <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#newStock">Agregar Stock</button>

            <p> </p>


            <p> </p>
            <!-- Stock Table -->
            <table class="table" id="stockTable">
                <thead class="thead-dark">
                <tr id="id02">
                    <th hidden scope="col">Código de Stock <span><i class="fa fa-sort" aria-hidden="true"></i></span> </th>
                    <th scope="col">Bodega <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th scope="col">Nombre <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th scope="col">Variedad <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th hidden scope="col">Unidades por caja <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th scope="col">Cant. botellas <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th scope="col">Cant. cajas<span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="stock : ${stockList}" id="id01">
                        <td hidden th:text="${stock.productId}"></td>
                        <td th:text="${stock.cellar.cellarName}"></td>
                        <td th:text="${stock.name}"></td>
                        <td th:text="${stock.variety}"></td>
                        <td th:text="${stock.quantityPerBox}"></td>
                        <td th:text="${stock.quantityOnStock}"></td>

                        <!--<td th:text="${stock.price}"></td>-->
                        <td>
                            <button type="button" class="btn btn-outline-info" th:attr="id=${stock.productId}" data-toggle="modal" onclick="myFunction(this.id)" data-target="#editStock">
                                Borrar
                            </button>

                            <script>
                                function myFunction(productId) {
                                    var elems= document.getElementById(productId);
                                    var body = document.getElementById('editionDetails');
                                    body.innerHTML= ''+
                                        '<div class="form-group">'+
                                                     '<form id="editionForm" name="editionForm" method="post" action="/stock/delete/'+ elems.id + '">'+
                                                        '<div class="alert alert-danger" role="alert">'+
                                                            '<strong>Zona de peligro!</strong> Desea borrar este producto?'+
                                                        '</div>'+
                                                         '<button type="submit" id="btn-delete" class="btn btn-outline-danger" />Borrar' +
                                                     '</form>'+
                                        '</div>'
                                }
                            </script>
                        </td>
                        <script>
                            function sortListDir() {
                                var list, i, switching, b, shouldSwitch, dir, switchcount = 0;
                                list = document.getElementById("id01");
                                switching = true;
                                dir = "asc";
                                while (switching) {
                                    switching = false;
                                    b = list.getElementsByTagName("TR");
                                    for (i = 0; i < (b.length - 1); i++) {
                                        shouldSwitch = false;
                                        if (dir == "asc") {
                                            if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
                                                shouldSwitch= true;
                                                break;
                                            }
                                        } else if (dir == "desc") {
                                            if (b[i].innerHTML.toLowerCase() < b[i + 1].innerHTML.toLowerCase()) {
                                                shouldSwitch= true;
                                                break;
                                            }
                                        }
                                    }
                                    if (shouldSwitch) {
                                        b[i].parentNode.insertBefore(b[i + 1], b[i]);
                                        switching = true;
                                        switchcount ++;
                                    } else {

                                        if (switchcount == 0 && dir == "asc") {
                                            dir = "desc";
                                            switching = true;
                                        }
                                    }
                                }
                            }
                        </script>
                </tbody>
            </table>


            <!-- Edit Stock Modal -->
            <div id="editStock" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar</h4>
                            <button type="button" class="Cerrar" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form  id="editStockForm" action="#" th:action="@{/stock/editStock}" method="post" name="stockForm">
                                <div class="form-group">
                                    <i class="fa fa-archive" aria-hidden="true"></i><label for="quantityOnStockBox">  Cantidad de cajas</label>
                                    <input type="number" class="form-control" id="quantityOnStockBox" placeholder="1,2,3...90..." name="quantityOnStockBox"/><br />
                                    <i class="fa fa-glass" aria-hidden="true"></i><label for="quantityOnStockBox">  Cantidad de botellas</label>
                                    <input type="number" class="form-control" id="quantityOnStockBottle" placeholder="1,2,3...90..." name="quantityOnStockBottle"/><br />
                                    <button type="submit" id="stockSubmit"  class="btn btn-outline-success" >Guardar</button>
                                </div>
                            </form>
                        </div>

                        <div class="modal-body">
                            <div id="editionDetails">
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <!-- Stock Modal -->

            <div id="newStock" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Nuevo Stock</h4>
                            <button type="button" class="Cerrar" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form  id="stockForm" action="#" th:action="@{/stock/createStock}" method="post" name="stockForm">
                                <div class="form-group">
                                    <i class="fa fa-archive" aria-hidden="true"></i><label for="quantityOnStockBox">  Cantidad de cajas</label>
                                    <input type="number" class="form-control" id="quantityOnStockBox" placeholder="1,2,3...90..." name="quantityOnStockBox"/><br />
                                    <i class="fa fa-glass" aria-hidden="true"></i><label for="quantityOnStockBox">  Cantidad de botellas</label>
                                    <input type="number" class="form-control" id="quantityOnStockBottle" placeholder="1,2,3...90..." name="quantityOnStockBottle"/><br />
                                    <i class="fa fa-list-ul" aria-hidden="true"></i><label for="productName">  Producto</label>
                                        <select class="form-control" name="productName" id="productName">
                                            <option th:each="wine : ${wines}"
                                                    th:value="${wine.wineName}"
                                                    th:text="${wine.wineName}"
                                                    th:select="${wine.wineName}">
                                            </option>
                                        </select><br />
                                    <button type="submit" id="stockSubmit"  class="btn btn-outline-info" >Guardar</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button  type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>


            <!-- Cellar Modal -->
            <div id="newCellar" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Nueva Bodega</h4>
                            <button type="button" class="Cerrar" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form  id="cellarForm" action="#" th:action="@{/cellar/create}" method="post" name="cellarForm">
                                <div class="form-group">
                                    <label for="cellarName">Nombre</label>
                                    <input type="text" class="form-control" id="cellarName" name="cellarName" placeholder="Ingrese el nombre de la bodega"><br />
                                    <label for="location">Ubicación</label>
                                    <input type="text" class="form-control" id="location" placeholder="Mendoza, Jujuy..." name="location"/><br />
                                    <label for="description">Descripción</label>
                                    <textarea class="form-control" rows="5" placeholder="Breve descripción" id="description" name="description"></textarea><br />
                                    <button type="submit" id="submitCellar" class="btn btn-primary" >Guardar</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button  type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Wine Modal -->
            <div id="newWine" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Nuevo Vino</h4>
                            <button type="button" class="Cerrar" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form id="wineForm" action="#"  th:action="@{/wine/create}" th:object="${wineWrapper}" method="post" name="wineForm">
                                <div class="form-group">
                                    <label for="wineName">Nombre</label>
                                    <input type="text" class="form-control" th:field="*{wine.name}" id="wineName" name="wineName" placeholder="Ingrese el nombre del vino"><br />
                                    <label for="variety">Variedad</label>
                                    <input type="text" class="form-control"  th:field="*{wine.variety}" placeholder="Malbec, Chardonnay..." id="variety" name="variety"/><br />
                                    <label for="quantityPerBox">Cantidad por caja</label>
                                    <input type="number" class="form-control" th:field="*{wine.quantityPerBox}" id="quantityPerBox" placeholder="6, 9, 12..." name="quantityPerBox"/><br />
                                    <label for="cellar">Bodega</label>
                                    <select class="form-control" name="cellar" id="cellar" th:field="*{cellarId}">
                                            <option th:each="cellar : ${cellars}"
                                                    th:value="${cellar.cellarId}"
                                                    th:select="${cellar.cellarId}"
                                                    th:text="${cellar.cellarName}">
                                            </option>
                                    </select><br />
                                    <label for="price">Precio de Lista</label>
                                    <input type="number" step=".01" class="form-control"  th:field="*{price}" placeholder="150" id="price" name="price"/><br />
                                    <label for="wineDescription">Descripción</label>
                                    <textarea class="form-control" rows="5" placeholder="Breve descripción" th:field="*{wine.description}" id="wineDescription" name="wineDescription"></textarea><br />
                                    <button type="submit" id="wineSubmit"  class="btn btn-primary" >Guardar</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button  type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>