<!DOCTYPE HTML>

<html  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Products</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/img/favicon.ico}" rel="shortcut icon"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/33078ec2bc.js"></script>
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">-->
    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>-->
</head>
<body>
        <!--Nav-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">selecciondevinos.com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link" href="/orders/">Pedidos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/products/">Stock</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/lists/">Listas de precios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clients/">Clientes</a>
                    </li>
                    <form class="form-inline">
                        <button class="btn btn-outline-success" href="/orders/new" type="button">NUEVO PEDIDO</button>
                    </form>
                </ul>
                <form name="logoutForm" th:action="@{/logout}" method="POST" th:hidden="true">
                    <button id="logout" hidden="true" type="submit" class="btn-link"></button>
                </form>
            </div>
        </nav>

        <p> </p>

        <div class="container ">
            <h1><i class="fa fa-line-chart" aria-hidden="true"></i> Stock</h1>
            <!-- Trigger the modal with a button -->
            <div class="row py-1 my-1 px-1">
                <div class="col-md-2">
                    <button type="button" class="btn btn-outline-success form-control" aria-hidden="true" data-toggle="modal" data-target="#newCellar">Nueva Bodega</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-outline-success form-control" aria-hidden="true" data-toggle="modal" data-target="#newWine">Nuevo Vino</button>
                </div>

                <div class=" col-6">
                    <input class="form-control float-right" type="search" id="theWineSearch" aria-hidden="true" onkeyup='searchTable()' placeholder="Buscador...">
                    <script>
                        function searchTable() {
                            var input, filter, found, table, tr, td, i, j;
                            input = document.getElementById("theWineSearch");
                            filter = input.value.toUpperCase();
                            table = document.getElementById("stockTable");
                            tr = table.getElementsByTagName("tr");
                            for (i = 0; i < tr.length; i++) {
                                td = tr[i].getElementsByTagName("td");
                                for (j = 0; j < td.length; j++) {
                                    if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                                        found = true;
                                    }
                                }
                                if (found) {
                                    tr[i].style.display = "";
                                    found = false;
                                } else {
                                    if (tr[i].id !== 'id02'){tr[i].style.display = "none";}
                                }
                            }
                        }

                    </script>
                </div>
            </div>
            <p> </p>
            <p> </p>

            <!-- Stock Table -->
            <table class="table" id="stockTable">
                <thead class="thead-dark">
                <tr id="id02">
                    <th hidden scope="col">Código de Stock <span><i class="fa fa-sort" aria-hidden="true"></i></span> </th>
                    <th scope="col">Bodega <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th scope="col">Nombre <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th scope="col">Variedad <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th hidden scope="col">Unidades por caja <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th hidden scope="col">Botellas por Caja <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th scope="col">Unidades en Stock <span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="stock : ${stockList}">
                        <td hidden th:text="${stock.productId}" id="table-productId"></td>
                        <td th:text="${stock.cellar.cellarName}" id="table-cellarName"></td>
                        <td th:text="${stock.name}" id="table-name"></td>
                        <td th:text="${stock.variety}" id="table-variety"></td>
                        <td hidden th:text="${stock.quantityPerBox}" id="table-quantityPerBox"></td>
                        <td th:text="${stock.quantityOnStock}" id="table-quantityOnStock"></td>

                        <!--<td th:text="${stock.price}"></td>-->
                        <td>
                            <button type="button" class="btn btn-outline-info addStock" data-toggle="modal"
                                    th:attr="id=${stock.productId}" data-target="#addStockModal">Editar</button>
                        </td>
                </tbody>
            </table>


            <!-- Edit Stock Modal -->
            <div id="addStockModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="stockTitle">Editar</h4>
                            <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="editStockForm" action="#" th:action="@{/products/addStock}" th:object="${productWrapper}" method="post">

                                <input hidden id="productId" th:field="*{product}" />
                                <p class="text-center" >Actualmente en stock hay <span id="quantityOnStock"></span> unidades</p>

                                <div class="form-group row">
                                    <label for="boxes" class="col col-form-label"><i class="fa fa-archive" aria-hidden="true"></i> Cajas a agregar <small>(<span id="quantityPerBox"></span> uni.)</small></label>
                                    <div class="col-sm">
                                        <input type="number" class="form-control" id="boxes" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="boxes" class="col col-form-label"><i class="fa fa-glass" aria-hidden="true"></i> Unidades a agregar</label>
                                    <div class="col-sm">
                                        <input type="number" class="form-control" id="units" />
                                    </div>
                                </div>

                                <p class="lead">Estás agregando <span id="totalToAdd" class="text-info"></span> unidades.</p>
                                <p class="text-center font-weight-bold lead">TOTAL EN STOCK: <span class="text-success" id="finalTotal"></span></p>
                                <input hidden id="finalTotalInput" th:field="*{finalQuantity}"/>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Confirmar</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Cellar Modal -->
            <div id="newCellar" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Nueva Bodega</h4>
                            <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form  id="cellarForm" action="#" th:action="@{/cellar/create}" method="post" name="cellarForm">
                                <div class="form-group">
                                    <label for="cellarName">Nombre</label>
                                    <input type="text" class="form-control" id="cellarName" name="cellarName" placeholder="Ingrese el nombre de la bodega"><br />
                                    <label for="location">Ubicación</label>
                                    <input type="text" class="form-control" id="location" placeholder="Mendoza, Jujuy..." name="location"/><br />
                                    <label for="description">Descripción</label>
                                    <textarea class="form-control" rows="5" placeholder="Breve descripción" id="description" name="description"></textarea><br />
                                    <button type="submit" id="submitCellar" class="btn btn-primary" >Guardar</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button  type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Wine Modal -->
            <div id="newWine" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Nuevo Vino</h4>
                            <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="wineForm" action="#"  th:action="@{/wine/create}" th:object="${wineWrapper}" method="post" name="wineForm">
                                <div class="form-group">
                                    <label for="wineName">Nombre</label>
                                    <input type="text" class="form-control" th:field="*{wine.name}" id="wineName" name="wineName" placeholder="Ingrese el nombre del vino"><br />
                                    <label for="variety">Variedad</label>
                                    <input type="text" class="form-control"  th:field="*{wine.variety}" placeholder="Malbec, Chardonnay..." id="variety" name="variety"/><br />
                                    <label for="quantityPerBox">Cantidad por caja</label>
                                    <input type="number" class="form-control" th:field="*{wine.quantityPerBox}" placeholder="6, 9, 12..." name="quantityPerBox"/><br />
                                    <!--<div class="form-group">-->
                                        <select class="form-control cellar" data-live-search="true" name="cellar" th:field="*{cellarId}">
                                            <option data-th-each="cellar : ${cellars}" data-th-value="${cellar.cellarId}" data-th-text="${cellar.cellarName}"></option>
                                        </select>
                                    <!--</div>-->
                                    <br />
                                    <label for="price">Precio de Lista</label>
                                    <input type="number" step=".01" class="form-control"  th:field="*{price}" placeholder="150" id="price" name="price"/><br />
                                    <label for="wineDescription">Descripción</label>
                                    <textarea class="form-control" rows="5" placeholder="Breve descripción" th:field="*{wine.description}" id="wineDescription" name="wineDescription"></textarea><br />
                                    <button type="submit" id="wineSubmit"  class="btn btn-primary" >Guardar</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button  type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script th:src="@{/js/stock.js}"></script>
</body>

</body>
</html>